.search{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        text-align: center;
        background-color: #D0DAE6;
        border-radius: 2em;
        width: 300px;
        left: calc(50vw - 35em / 2);
        margin: 15px auto 3px;

        .icon{
            color: grey;
        }

        input {
            border: none;
            background-color: #D0DAE6;
            outline:none !important;
            width: 80%;
           ::placeholder {
            color: grey;
           }
        select {
            border: none;
            background-color: #D0DAE6;
            margin-left: 1em;
        }
        
        }
    }
